## Settings file was created by plugin Euromod Well Deck v1.0.0
## Plugin GUID: euromod.welldeck

[About]

## Author of this plugin.
# Setting type: String
# Default value: MitcheLL600-Euromod
#very important that it is MitcheLL600
Author = MitcheLL600-Euromod

[Menu]

## Text shown in the vessel context menu.
# Setting type: String
# Default value: Flood Well Deck
FloodLabel = Flood Well Deck

## Text shown in the vessel context menu.
# Setting type: String
# Default value: Pump Well Deck
PumpLabel = Pump Well Deck

[WellDeck]

## Comma-separated vessel-name/INI-name markers allowed to use the well deck controls.
# Setting type: String
# Default value: LHD,LHA,LPD,LSD,LST
AllowedVesselTypes = LHD,LHA,LPD,LSD,LST

## Code animation played when Flood Well Deck is selected. Leave blank to disable.
# Setting type: String
# Default value: WellDoors_Open
FloodAnimation = WellDoors_Open

## Code animation played when Pump Well Deck is selected. Leave blank to disable.
# Setting type: String
# Default value: WellDoors_Close
PumpAnimation = WellDoors_Close

## Default target flooding percentage. Vessel [WellDeck] values override this.
# Setting type: Single
# Default value: 25
MaxFloodingPercent = 25

## Default flooding rate. Vessel [WellDeck] values override this.
# Setting type: Single
# Default value: 5
FloodRatePercentPerSecond = 5

## Default pump-out rate. Vessel [WellDeck] values override this.
# Setting type: Single
# Default value: 8
PumpRatePercentPerSecond = 8

## Default speed cap in knots while the well deck is active. 0 disables the cap.
# Setting type: Single
# Default value: 0
MaxSpeedWhileFlooded = 5

## Default AutoDC behavior. Vessel [WellDeck] values override this.
# Setting type: Boolean
# Default value: true
DisableAutoDCWhileOperating = true

